@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;1,400;1,500&family=Poppins:wght@100;300;400;500&display=swap');

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

input {
  border: 1px solid black;
  border-radius: 10px;
  width: 300px;
  height: 30px;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}
li {
  margin-bottom: 5px;
}

.main {
  align-items: center;
  justify-content: center;
  margin-left: 530px;
  margin-top: 190px;
}